{% extends "./_base.html" %}

{% block content %}
<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] flex items-center justify-center h-screen">
  <!--<div class="bg-gradient-to-r from-violet-300 to-indigo-300 flex items-center justify-center h-screen">-->
    <div class="w-11/12 h-11/12 sm:w-11/12 md:w-8/12 lg:w-8/12 lg:h-8/12 backdrop-blur-sm bg-white/40 p-6 rounded-lg shadow-sm border-violet-200 border">
    <div class="w-full flex justify-between items-center p-3">
      <h2 class="text-xl font-semibold">Doctor Python</h2>
    </div>
    <div class="w-full flex justify-center p-1 mb-4">
      <div class="relative w-full">
        <input type="text" class="w-full backdrop-blur-sm bg-white/20 py-2 pl-10 pr-4 rounded-lg focus:outline-none border-2 border-slate-400 focus:border-violet-300 transition-colors duration-300" placeholder="Type to search..." name="query" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target='#data-table' hx-swap="innerHTML">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <svg class="w-4 h-4 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
      </div>
    </div>
    <!-- Grid -->
    <div class="grid bg-gradient-to-r from-violet-300/15 to-indigo-300/15 rounded-xl grid-cols-6 sm:grid-cols-6 md:grid-cols-6 lg:grid-cols-6 p-3 gap-4">
      <script>
function hide(){ var test = document.querySelectorAll("#brand_name"); test.classList.toggle("hidden");}
      </script>
      <div class="text-center uppercase text-xs font-semibold"
        onClick="hide()" hx-vals="{'name': brand_name}">Brand Name</div>
      <div class="text-center uppercase text-xs font-semibold" hx-trigger="click" hx-vals="{'name': generic_name}">Generic Name</div>
      <div class="text-center uppercase text-xs font-semibold" hx-trigger="click" hx-vals="{'name': man_name}">Manufacturer Name</div>
      <div class="text-center uppercase text-xs font-semibold" hx-trigger="click" hx-vals="{'name': purp}">Purpose</div>
      <div class="text-center uppercase text-xs font-semibold" hx-trigger="click" hx-vals="{'name': warnings}">Warnings</div>
      <div class="text-center uppercase text-xs font-semibold" hx-trigger="click" hx-vals="{'name': dos_admin}">Dosage & Administration</div>
    </div>
    <div class="grid overflow-auto grid-cols-6 sm:grid-cols-6 md:grid-cols-6 lg:grid-cols-6 max-h-100 gap-4 text-center" id="data-table">
    </div>
  </div>   
</div>
{% endblock %}
