{% for result in results %}
  <div class="backdrop-blur-sm bg-white/20 p-6 rounded-md shadow-sm cursor-pointer border-2 border-gray-50 hover:border-violet-200 hover:border-2 transition-colors duration-300 " hx-get="/modal?contentStr={% if results is mapping -%}
      {{ result['openfda']['brand_name'] }}
      {% else -%}
      {{ result.brand_name }}
      {% endif %}" hx-target="body" hx-swap="beforeend" hx-trigger="click" hx-include="find p">
    <p class="text-xs overflow-auto hover:text-pretty min-h-4 max-h-60 font-semibold mb-4">
      {% if results is mapping -%}
      {{ result['openfda']['brand_name'][0] }}
      {% else -%}
      {{ result.brand_name }}
      {% endif %}
    </p>
  </div>
<div class="backdrop-blur-sm bg-white/20 p-6 rounded-md shadow-sm cursor-pointer border-2 border-gray-50 hover:border-violet-200 hover:border-2 transition-colors duration-300 " hx-get="/modal?contentStr={% if results is mapping -%}
      {{ result['openfda']['generic_name'] }}
      {% else -%}
      {{ result.generic_name }}
      {% endif %}" hx-target="body" hx-swap="beforeend" hx-trigger="click" hx-include="find p">
  <p class="text-xs overflow-auto hover:text-pretty min-h-4 max-h-60 font-semibold mb-4">
    {% if results is mapping -%}
    {{ result['openfda']['generic_name'] }}
    {% else -%}
    {{ result.generic_name }}
    {% endif %}
  </p>
  </div>
<div class="backdrop-blur-sm bg-white/20 p-6 rounded-md shadow-sm cursor-pointer border-2 border-gray-50 hover:border-violet-200 hover:border-2 transition-colors duration-300 " hx-get="/modal?contentStr={% if results is mapping -%}
      {{ result['openfda']['manufacturer_name'] }}
      {% else -%}
      {{ result.manufacturer_name }}
      {% endif %}" hx-target="body" hx-swap="beforeend" hx-trigger="click" hx-include="find p">
  <p class="text-xs overflow-auto hover:text-pretty min-h-4 max-h-60 font-semibold mb-4">
    {% if results is mapping -%}
    {{ result['openfda']['manufacturer_name'] }}
    {% else -%}
    {{ result.manufacturer_name }}
    {% endif %}
  </p>
  </div>
<div class="backdrop-blur-sm bg-white/20 p-6 rounded-md shadow-sm cursor-pointer border-2 border-gray-50 hover:border-violet-200 hover:border-2 transition-colors duration-300 " hx-get="/modal?contentStr={% if results is mapping -%}
      {{ result['purpose'] }}
      {% else -%}
      {{ result.purpose }}
      {% endif %}" hx-target="body" hx-swap="beforeend" hx-trigger="click" hx-include="find p">
  <p class="text-xs overflow-auto hover:text-pretty min-h-4 max-h-60 font-semibold mb-4">
    {% if results is mapping -%}
    {{ result['purpose'] }}
    {% else -%}
    {{ result.purpose }}
    {% endif %}
  </p>
  </div>
<div class="backdrop-blur-sm bg-white/20 p-6 rounded-md shadow-sm cursor-pointer border-2 border-gray-50 hover:border-violet-200 hover:border-2 transition-colors duration-300 " hx-get="/modal?contentStr={% if results is mapping -%}
      {{ result['warnings'] }}
      {% else -%}
      {{ result.warnings }}
      {% endif %}" hx-target="body" hx-swap="beforeend" hx-trigger="click" hx-include="find p">
  <p class="text-xs overflow-auto hover:text-pretty min-h-4 max-h-60 font-semibold mb-4">
    {% if results is mapping -%}
    {{ result['warnings'] }}
    {% else -%}
    {{ result.warnings }}
    {% endif %}
  </p>
  </div>
<div class="backdrop-blur-sm bg-white/20 p-6 rounded-md shadow-sm cursor-pointer border-2 border-gray-50 hover:border-violet-200 hover:border-2 transition-colors duration-300 " hx-get="/modal?contentStr={% if results is mapping -%}
      {{ result['dosage_and_administration'] }}
      {% else -%}
      {{ result.dosage_and_admin }}
      {% endif %}" hx-target="body" hx-swap="beforeend" hx-trigger="click" hx-include="find p">
  <p class="text-xs overflow-auto hover:text-pretty min-h-4 max-h-60 font-semibold mb-4">
    {% if results is mapping -%}
    {{ result['dosage_and_administration'] }}
    {% else -%}
    {{ result.dosage_and_admin }}
    {% endif %}
  </p>
</div>
{% endfor %}
